body {margin: 0;}
* {box-sizing: border-box;}

.ui-sortable {
  min-height: 80px;
}
.btn-delete {
  position: absolute;
  right: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border: 0;
  background-color: cornflowerblue;
  color: darkblue;
  border-radius: 5px;
}
/* BOARD */
.board h1 {
  margin-left: 8px;
  text-align: center;
}
.column-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
button.create-column {
    width: 125px;
    height: 50px;
    background-color: ivory;
    border-radius: 5px;
}
button.column-add-card {
    text-decoration: none;
    background-color: lightsteelblue;
    border-radius: 5px;
    margin: 20px auto;
}

/* COLUMN */
.column {
  order: 1;
  min-width: 300px;
  min-height: 50vh;
  background-color: beige;
  margin-left: 8px;
  list-style: none;
  position: relative;
  border-radius: 5px;
  border: 1px solid darkturquoise;
}
.column-add-card {
  cursor: pointer;
  text-decoration: underline;
  margin: 5px 8px;
  display: block;
}

/* STYLE KARTY */
.card {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  padding: 4px;
  overflow: hidden;
  position: relative;
  text-align: center;
  border: 1px solid darkgray;
  border-radius: 5px;
}
.card-list {
  list-style: none;
  margin: 5px;
  padding: 0px;
}
.card-placeholder {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  border: 2px solid lightgrey;
  background-color: lightblue;
}
h2.column-title {
    text-align: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    background-color: wheat;
    border-radius: 5px;
}
.addCol {
  text-align: center;
    margin-bottom: 20px;
}
